[submodule "modules/common"]
	path = modules/common
	url = https://github.com/dreamsdk/common
[submodule "modules/manager"]
	path = modules/manager
	url = https://github.com/dreamsdk/manager
[submodule "modules/helpers"]
	path = modules/helpers
	url = https://github.com/dreamsdk/helpers
[submodule "modules/launcher"]
	path = modules/launcher
	url = https://github.com/dreamsdk/shell-launcher
[submodule "modules/objects"]
	path = modules/objects
	url = https://github.com/dreamsdk/system-objects
[submodule "modules/runner"]
	path = modules/runner
	url = https://github.com/dreamsdk/shell-runner
[submodule "setup/helpers"]
	path = setup/helpers
	url = https://github.com/dreamsdk/setup-helpers
[submodule "modules/doc"]
	path = modules/doc
	url = https://github.com/dreamsdk/documentation
[submodule "modules/ide/codeblocks"]
	path = modules/ide/codeblocks
	url = https://github.com/dreamsdk/codeblocks-patcher
[submodule "setup/builder"]
	path = setup/builder
	url = https://github.com/dreamsdk/setup-generator
