[Directories]
OUTPUT_DIR=D:\setup\.sources

[Utilities]
GIT=git
PYTHON=python
SEVENZIP="C:\Program Files\7-Zip\7z.exe"
SEVENZIP_COMPRESSION_LEVEL=9

[Repositories]
KALLISTI_URL=https://git.code.sf.net/p/cadcdev/kallistios
KALLISTI_PORTS_URL=https://git.code.sf.net/p/cadcdev/kos-ports
DREAMCAST_TOOL_SERIAL_URL=https://gitlab.com/kallistios/dcload-serial.git
DREAMCAST_TOOL_INTERNET_PROTOCOL_URL=https://gitlab.com/kallistios/dcload-ip.git
RUBY_URL=https://github.com/mruby/mruby.git
RUBY_SAMPLE_DREAMPRESENT_URL=https://github.com/yujiyokoo/dreampresent.git
RUBY_SAMPLE_MRBTRIS_URL=https://github.com/yujiyokoo/mrbtris-dreamcast.git
